[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multimorbidity"]
	path = multimorbidity
	url = https://github.com/wyattbensken/multimorbidity
[submodule "socialrisk"]
	path = socialrisk
	url = https://github.com/cran/socialrisk
